<div class="language-picker" aria-label="Language selector">
  <button class="language-current" type="button" data-language-current aria-expanded="false">
    <strong data-language-label>English</strong>
  </button>
  <div class="language-menu" data-language-menu>
    <button type="button" data-lang-switch="de"><strong>Deutsch</strong></button>
    <button type="button" data-lang-switch="pt"><strong>Portugu&ecirc;s</strong></button>
    <button type="button" data-lang-switch="es"><strong>Espa&ntilde;ol</strong></button>
    <button type="button" data-lang-switch="fr"><strong>Fran&ccedil;ais</strong></button>
    <button type="button" data-lang-switch="it"><strong>Italiano</strong></button>
    <button type="button" data-lang-switch="ru"><strong>&#1056;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081;</strong></button>
    <button type="button" data-lang-switch="ko"><strong>&#54620;&#44397;&#50612;</strong></button>
    <button type="button" data-lang-switch="ja"><strong>&#26085;&#26412;&#35486;</strong></button>
    <button type="button" data-lang-switch="ar"><strong>&#1575;&#1604;&#1593;&#1585;&#1576;&#1610;&#1577;</strong></button>
    <button type="button" data-lang-switch="th"><strong>&#3616;&#3634;&#3625;&#3634;&#3652;&#3607;&#3618;</strong></button>
    <button type="button" data-lang-switch="vi"><strong>Ti&#7871;ng Vi&#7879;t</strong></button>
    <button type="button" data-lang-switch="tr"><strong>T&uuml;rk&ccedil;e</strong></button>
    <button type="button" data-lang-switch="nl"><strong>Nederlands</strong></button>
    <button type="button" data-lang-switch="id"><strong>Indonesian</strong></button>
    <button type="button" data-lang-switch="he"><strong>&#1506;&#1489;&#1512;&#1497;&#1514;</strong></button>
    <button type="button" data-lang-switch="hi"><strong>&#2361;&#2367;&#2344;&#2381;&#2342;&#2368;</strong></button>
    <button type="button" data-lang-switch="en"><strong>English</strong></button>
    <button type="button" data-lang-switch="zh"><strong>&#20013;&#25991;</strong></button>
  </div>
</div>
